.menu__btn__outlined{
     font-weight: 550 !important;
     border: 1px solid #dadbdd !important;
     text-decoration: none !important;
     padding: 8px 12px !important;
     border-radius: 4px !important;
     font-size: 16px !important;
     height: 40px !important;
     background-color: #fff;
 }

.swiper-container{
    max-width: 400px;
     max-height: 500px;
}


.carousel-container{
    position: sticky;
    top: 1em;
}

@media(max-width: 768px){
    .carousel-container{
        position: relative !important;
        /*top: 0 !important;*/
        margin-bottom: 1em;
    }
}

.swiper-wrapper {
     padding-inline-start: 0;
}

.swiper-pagination{
    /*margin-top: 1.5rem;*/
    position: absolute !important;
    line-height: 0;
    bottom: 0.7em !important;
}
@media only screen and (max-width: 580px) {
    .swiper-pagination {
        margin-top: 1rem;
    }
    .swiper-container{
        width: 100%;
    }
    
    .carousel-container{
        width: fit-content;
    }

    .swiper-container{
        /*max-width: 200px !important;*/
        width: auto;
        height: fit-content;
    }
}


.swiper-pagination-bullet {
    background: #F0F0F6;
    border-radius: 1rem;
    opacity: 1;
    height: 0.625rem;
    width: 0.625rem;
    transition: width 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
@media only screen and (max-width: 580px) {
    .swiper-pagination-bullet {
        height: 0.375rem;
        width: 0.375rem;
    }
}
.swiper-pagination-bullet-active {
    background: #1DBF73;
    width: 1.25rem;
}
@media only screen and (max-width: 580px) {
    .swiper-pagination-bullet-active {
        width: 0.75rem;
    }
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 0.3125rem;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0;
}

.arrow-left{
    position: absolute;
    top: 40%;
    z-index: 200;
    background: #fff;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border: 1px solid #DADBDD;
}

.arrow-right{
    position: absolute;
    top: 40%;
    right: 0;
    z-index: 200;
    background: #fff;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border: 1px solid #DADBDD;
}